" ====================
" 基础设置
" ====================
let mapleader = " "

" 插件设置
set surround
set multiple-cursors
set commentary
set easymotion
set highlightedyank
set nerdtree
set which-key
set ideajoin

" ====================
" 基本配置
" ====================
set encoding=utf-8
set fileencodings=ucs-bom,utf-8,cp936,gb18030,big5,euc-jp,euc-kr,latin1
set termencoding=utf-8
set ffs=unix,dos,mac

" 界面设置
set number
set relativenumber
set cursorline
set showmode
set showcmd
set showmatch
set matchtime=2
set scrolloff=7
set nowrap

" 搜索设置
set hlsearch
set incsearch
set ignorecase
set smartcase

" 编辑体验
set history=2000
set clipboard+=unnamed
set clipboard=unnamed
set nobackup
set novisualbell
set noerrorbells
set visualbell t_vb=

" 缩进设置
set autoindent
set shiftwidth=4
set expandtab
set smartindent

" ====================
" 快捷键映射
" ====================
" 基础映射
inoremap jk <Esc>
inoremap kj <Esc>
noremap ; :

" 行首行尾
nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $

" 窗口操作
map <leader>j <C-W>j
map <leader>k <C-W>k
map <leader>h <C-W>h
map <leader>l <C-W>l

" 分屏操作
noremap sk :set nosplitbelow<CR>:split<CR>:set splitbelow<CR>
noremap sj :set splitbelow<CR>:split<CR>
noremap sh :set nosplitright<CR>:vsplit<CR>:set splitright<CR>
noremap sl :set splitright<CR>:vsplit<CR>

" 分屏大小调整
noremap <leader><up> :res +5<CR>
noremap <leader><down> :res -5<CR>
noremap <leader><left> :vertical resize-5<CR>
noremap <leader><right> :vertical resize+5<CR>

" 标签页操作
noremap tt :tabe<CR>
noremap tn :-tabnext<CR>
noremap ti :+tabnext<CR>

" 复制粘贴
noremap <Leader>y "*y
noremap <Leader>p "*p
vnoremap Y "+y

" 其他实用映射
noremap <leader>q <C-w>j:q<CR>
noremap <leader>w :NERDTreeToggle<CR>
noremap <leader>/ :set splitbelow<CR>:split<CR>:res +10<CR>:term<CR>
noremap <leader>sw :set wrap<CR>

" 命令模式增强
cnoremap <C-j> <t_kd>
cnoremap <C-k> <t_ku>
cnoremap <C-a> <Home>
cnoremap <C-e> <End>

" 缩进后保持选中
vnoremap < <gv
vnoremap > >gv

" ====================
" IDE 特定设置
" ====================
" 使用 IDE 的功能
set ideajoin
set idearefactormode=keep

" 重构
map <leader>r :action RenameElement<CR>
map <leader>f :action ReformatCode<CR>
map <leader>d :action GotoDeclaration<CR>
map <leader>u :action FindUsages<CR>
map <leader>i :action GotoImplementation<CR>

" 调试
map <leader>b :action ToggleLineBreakpoint<CR>
map <leader>c :action Resume<CR>
map <leader>n :action StepOver<CR>
map <leader>s :action StepInto<CR>

" ====================
" 其他设置
" ====================
" 主题设置
syntax on
set t_Co=256
set background=dark
" True Color Theme
if exists('+termguicolors')
  let &t_8f = "\<Esc>[38;2;%lu;%lu;%lum"
  let &t_8b = "\<Esc>[48;2;%lu;%lu;%lum"
  set termguicolors
endif

color space-vim-dark
let g:airline_theme = 'one'
let g:space_vim_dark_background = 233

" 文件类型设置
filetype on
" Enable filetype plugins
filetype plugin on
filetype indent on

" 其他设置
set guioptions-=L
set title
set magic
set formatoptions+=m
set formatoptions+=B

" 选择和完成设置
set selection=inclusive
set selectmode=mouse,key
set completeopt=longest,menu
set wildmenu                           " show a navigable menu for tab completion"
set wildmode=longest,list,full
set wildignore=*.o,*~,*.pyc,*.class

" GUI 设置
set guifont=Menlo\ Regular:h12

" 快捷键映射
nnoremap <F2> :set nu! nu?<CR>
nnoremap <F3> :set list! list?<CR>
nnoremap <F4> :set wrap! wrap?<CR>

" 交换 ` 和 ' 跳转到标记
" 默认情况下，' 跳转到标记行，` 跳转到标记行和列，所以交换它们
nnoremap ' `
nnoremap ` '

" 重新选择可视块后缩进/缩出。调整缩进后自动选中，方便再次操作
vnoremap < <gv
vnoremap > >gv

" 保存
cmap w!! w !sudo tee >/dev/null %

" 命令模式，ctrl-a 到 head， ctrl-e 到 tail
cnoremap <C-j> <t_kd>
cnoremap <C-k> <t_ku>
cnoremap <C-a> <Home>
cnoremap <C-e> <End>

" 按 <SPACE> + q 关闭当前窗口下的窗口
noremap <LEADER>q <C-w>j:q<CR>
" 禁用默认 s 键
noremap s <nop>

" 将屏幕分割为上（水平）、下（水平）、左（垂直）、右（垂直）
noremap sk :set nosplitbelow<CR>:split<CR>:set splitbelow<CR>
noremap sj :set splitbelow<CR>:split<CR>
noremap sh :set nosplitright<CR>:vsplit<CR>:set splitright<CR>
noremap sl :set splitright<CR>:vsplit<CR>

" 其他设置
set autoindex
set shiftwidth=4
set nu
set relativenumber

" easymotion

